h1{
    text-align: center;
    padding: 50px;
    border-radius: 5px;
    border: 10px solid black;
}
.anh1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 70%;
    height: 50%;
    margin-left: 300px;
    margin-top: 200px;
}
.a1 {
    width: 30%;
    box-shadow: 3px 3px 3px 3px rgb(136 134 134);
    padding: 10px;
}
a{
    color: #000;
    text-decoration: none;
}
.TISSO{
    color: black;
}
div{
    display: block;
}
.footer{
    width: 100%;
    padding: 20px;
    display: flex;
    background-color: rgb(153, 153, 153);
}
.warranty{
    width: 40%;
}
.expert{
    width: 40%;
}
.auth{
    width: 40%;
}
h2{
    color: white;
    padding-top: 20px;
}
p, a{
    color: rgb(0, 0, 0);
    padding-top: 20px;
}
.find{
    align-items: center;
    padding: 40px;
}
li{
    margin-bottom: 20px;
}
ul{
    padding-top: 20px;
}
a:hover{
    color: red;
    transition: 0.5s;
}
.center{
    text-align: center;
}